<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/*main Menu*/
header .navbar ul li.login-button a {
    background-color: #4daf40;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
}

header .navbar-light .navbar-brand img.logo {
    width: auto !important;
}

#our-impact-pointers {
    max-width: 250px;
}

.co2-saved .elementor-counter-number-prefix {
    background: url('https://eveelz.in/wp-content/uploads/2024/12/eCO2.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-size: contain;
    max-width: 50px;
    margin-right: 10px;
}

#our-impact-pointers .elementor-counter .elementor-counter-number-wrapper,
.elementor-counter .elementor-counter-number-wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.km-covered .elementor-counter-number-prefix {
    background: url('https://eveelz.in/wp-content/uploads/2023/06/km-covered.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-size: contain;
    max-width: 50px;
    margin-right: 10px;
}

.trees-saved .elementor-counter-number-prefix {
    background: url('https://eveelz.in/wp-content/uploads/2023/06/trees-saved.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-size: contain;
    max-width: 50px;
    margin-right: 10px;
}

.electricity-used .elementor-counter-number-prefix {
    background: url('https://eveelz.in/wp-content/uploads/2023/06/electricity-used.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-size: contain;
    max-width: 50px;
    margin-right: 10px;
}

.people-transported .elementor-counter-number-prefix {
    background: url('https://eveelz.in/wp-content/uploads/2023/06/people-transported.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-size: contain;
    max-width: 50px;
    margin-right: 10px;
}

.fuel-saved .elementor-counter-number-prefix {
    background: url('https://eveelz.in/wp-content/uploads/2023/06/fuel-saved.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-size: contain;
    max-width: 50px;
    margin-right: 10px;
}

.animated-image .elementor-widget-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.animated-car video {
    -o-object-fit: contain !important;
    object-fit: contain !important;
    background-color: #ffffff !important;
}

.icon-list-custom>div {
    background: white;
    box-shadow: 1px 2px 4px #dfdfdf;
    padding: 10px 15px;
    margin-bottom: 15px !important;
}

.iq-breadcrumb-one {
    padding-bottom: 30px !important;
}

.iq-breadcrumb-one .title {
    font-size: 1.7em !important;
}

/* .content-area .site-main{
            padding-top: 20px !important;
    } */
.wp-forms-submit {
    color: var(--white-color) !important;
    background: var(--primary-color) !important;
    cursor: pointer !important;
    margin-bottom: 0 !important;
    height: auto !important;
    padding: 8px 32px !important;
    font-size: 1em !important;
    line-height: 2 !important;
    border: none !important;
    position: relative !important;
    display: inline-block !important;
    width: auto !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    transition: all 0.5s ease-in-out !important;
    transition: all 0.5s ease-in-out !important;
    -moz-transition: all 0.5s ease-in-out !important;
    -ms-transition: all 0.5s ease-in-out !important;
    -o-transition: all 0.5s ease-in-out !important;
    -webkit-transition: all 0.5s ease-in-out !important;
}

.wp-forms-submit-green {
    background: #4daf40 !important;
}

div.wpforms-container-full {
    margin: 0px auto !important;
}

.getintouch-form .wpforms-submit-container {
    padding: 0px !important;
    margin: 0px !important;
}

.getintouch-form .wpforms-field-container {
    display: initial !important;
    justify-content: initial !important;
}

.getintouch-form .wpforms-field-email {
    padding: 0px !important;
}

.getintouch-form em.wpforms-error {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

/*Footer Top Bar*/
.footer-topbar {
    display: none;
}

/*Contact us page*/
.contact-box .iq-icon {
    min-width: 32px;
}

/*Home Page*/
.impact-counter-box .text-left .elementor-counter-title {
    text-align: left !important;
    margin-top: 10px;
}

.counter-box .c-value .timer-details .timer {
    position: relative;
}

.counter-box .c-value .timer-details .timer:after {
    content: "k";
}


@media only screen and (max-width: 600px) {
    .wpforms-container.inline-fields .wpforms-form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 10px;
    }

    .getintouch-form .wpforms-field-container,
    .getintouch-form .wpforms-submit-container {
        width: auto !important;
    }
}

div.wpforms-container-full button[type=submit]:focus:after {
    border: none !important;
}

/*Contact Page*/
.location-address .contact-box .contact-detail p {
    display: none;
}


.booking-cancel ul {
    display: inline-block;
}

.booking-cancel ul li {
    line-height: 30px;
    padding-bottom: 15px;
}


.table-tariff th {
    color: #000;
    text-align: left;
    font-size: 18px;
}

.table-tariff td {
    color: #000;
    text-align: left;
    font-size: 15px;
}

header .navbar .sub-main .blue-btn.button {
    padding: 8px 20px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    border-radius: 0px;
    background-color: #4daf40;
    border-radius: 5px;
    height: 50px;

}

header .navbar ul li a,
header .navbar .sub-main ul.shop_list .blue-btn.button a {
    font-size: 15px;
}

header .navbar ul li {
    margin-right: 20px;
}

header ul.shop_list {
    margin-left: 10px;
}

.dialog-message .elementor-lightbox-prevent-close {
    background-color: transparent;
}


header.menu-sticky .navbar ul li:last-child a:hover {
    color: #fff !important;
}



header .navbar ul li.login-button a {
    line-height: 32px;
    padding: 8px 20px;
    border-radius: 5px;
}


@media (max-width: 992px) {
    .header .navbar .sub-main .blue-btn.button {
        padding: 21px 20px !important;
    }
}
</style>
<!-- end Simple Custom CSS and JS -->
