#page {
  position: relative;
  min-height: 100vh;
}

.container {
  max-width: 1200px;   /* same width for logo & content */
  margin: 0 auto;      /* center the container */
  padding: 0 16px;     /* inner spacing */
  box-sizing: border-box;
}

.site-content-contain {
  min-height: calc(100vh - 200px);
}

.site-content {
  width: 100%;
}

